.blog-tile .is-child {
  padding: 0;
}

.blog-tile--title {
  padding: 20px 20px 0px 20px;
  margin-bottom: 0!important;
}

.blog-tile--list-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-list-item--title {
  clear: left;
}

.blog-list-item--description {
  display: inline;
  margin-left: 8px;
}

.blog-list-item--date {
  display: inline;
  font-style: italic;
  margin-left: 8px;
}

.blog-list-item--read-button {
  align-self: flex-end;
}