@charset "utf-8";

.featured-work--title {
  padding: 20px 20px 0 20px;
  margin-bottom: 10px!important;
}

.featured-work--list {
  box-shadow: none;
}

.featured-work--list .list-item {
  padding: 1em;
}

.featured-work-item--title {
  margin: 0px 0px 16px 0px!important;
}
