@charset "utf-8";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/tiles";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/controls";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/components/list";
@import "~bulma/sass/components/media";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/box";



.index-section {
  opacity: 0;
  transition: opacity 0.5s;
  @include mobile {
    padding: 0.8rem 0.75rem!important;
  }
}

.tile.is-ancestor {
  .tile.is-parent:first-child {
    .tile.is-child {
       margin-top: 0!important;
    }
  }
}

.is-parent {
  @include mobile {
    padding: 0!important;
  }
}

.box {
  @include mobile {
    border-radius: 0!important;
  }
}

.header-anchor {
  position: relative;
  top: -120px; // header height + some padding
  @include mobile {
    top: -53px; // header height
  }
}

.is-child {
  padding-top: 0px!important; // handle tile top padding individual for anchor reasons
}
