.tile.is-parent
  .tile.is-child.box.about--tile
    .header-anchor#about
    .about--header
      h2.title.is-4 About
      figure.image.is-48x48
        img.is-rounded.lazy(
          src=require(`../me-144px.jpeg`).placeholder
          alt=`Dylan Landry kindly waving and smiling.`
          data-src=require(`../me-144px.jpeg`).src
          data-srcset=require(`../me-144px.jpeg`).srcSet
        )
    // p Fullstack web developer in Toronto, Canada.
    ul.about--list.list.is-shadowless
      li.list-item Fullstack web developer in
        span.icon.lazy
          i.fas.fa-map-marker-alt
        address.is-inline Toronto, Canada.
      li.list-item Two bachelor's degrees in Economics and New Media (2018).
      li.list-item Junior developer for three years during university.
      li.list-item Dual citizenship of the US and Canada.
        .about--contact-icons.is-hidden-tablet
          a(href="mailto:dylanglandry@gmail.com" aria-label="Email Dylan Landry.")
            span.icon.lazy.is-large.has-text-dark
              i.fas.fa-envelope-square.fa-3x
          a(href="https://github.com/dyllandry" target="_blank" aria-label="Visit Dylan Landry's GitHub profile page.")
            span.icon.lazy.is-large.has-text-dark
              i.fab.fa-github-square.fa-3x
          a(href="https://www.linkedin.com/in/dylanglandry/" target="_blank" aria-label="Visit Dylan Landry's LinkedIn profile page.")
            span.icon.lazy.is-large.has-text-dark
              i.fab.fa-linkedin.fa-3x
          a(href="/Dylan-Landry-Resume.pdf" target="_blank" aria-label="Dylan's resume file.")
            span.icon.lazy.is-large.has-text-dark
              i.fas.fa-file-word.fa-3x
        .about--contact-icons.is-hidden-mobile.is-hidden-desktop
          a(href="mailto:dylanglandry@gmail.com" aria-label="Email Dylan Landry.")
            span.icon.lazy.is-medium.has-text-dark
              i.fas.fa-envelope-square.fa-2x
          a(href="https://github.com/dyllandry" target="_blank" aria-label="Visit Dylan Landry's GitHub profile page.")
            span.icon.lazy.is-medium.has-text-dark
              i.fab.fa-github-square.fa-2x
          a(href="https://www.linkedin.com/in/dylanglandry/" target="_blank" aria-label="Visit Dylan Landry's LinkedIn profile page.")
            span.icon.lazy.is-medium.has-text-dark
              i.fab.fa-linkedin.fa-2x
          a(href="/Dylan-Landry-Resume.pdf" target="_blank" aria-label="dylan's resume file.")
            span.icon.lazy.is-medium.has-text-dark
              i.fas.fa-file-word.fa-2x
        .about--contact-icons.is-hidden-touch
          a(href="mailto:dylanglandry@gmail.com" aria-label="Email Dylan Landry.")
            span.icon.lazy.has-text-dark
              i.fas.fa-envelope-square.fa-lg
          a(href="https://github.com/dyllandry" target="_blank" aria-label="Visit Dylan Landry's GitHub profile page.")
            span.icon.lazy.has-text-dark
              i.fab.fa-github-square.fa-lg
          a(href="https://www.linkedin.com/in/dylanglandry/" target="_blank" aria-label="Visit Dylan Landry's LinkedIn profile page.")
            span.icon.lazy.has-text-dark
              i.fab.fa-linkedin.fa-lg
          a(href="/Dylan-Landry-Resume.pdf" target="_blank" aria-label="dylan's resume file.")
            span.icon.lazy.has-text-dark
              i.fas.fa-file-word.fa-lg
