extends ../layout.pug
block append head
  title= title
block content
  .section
    .container
      main.post-content !{ postHtml }
      .set-content-width(style={ visibility: `hidden` })
        span 0123456789
