extends ../layout.pug
block append head
  title= htmlWebpackPlugin.options.title
block content
  .section
    .container
      main.post-content
      .set-content-width(style={ visibility: `hidden` })
        span 0123456789
