head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')

nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
  .navbar-brand
    a.navbar-item(href='#')
      h1.title Dylan Landry
    button#burger.navbar-burger.burger(type='button' role='button', aria-label='menu', aria-expanded='false', aria-haspopup='true' aria-controls='mobile-nav-menu')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  .navbar-menu
    .navbar-start
      a.navbar-item(href=`#home`)
        | Home
      a.navbar-item(href=`#about` data-href-selector=`.about--tile`)
        | About
      a.navbar-item(href=`#featured-work` data-href-selector=`.featured-work--tile`)
        | Featured Work
    .navbar-end
  ul#mobile-nav-menu.list.has-text-right.is-radiusless(role=`menu` aria-laballedby=`burger`)
    li.list-item.is-radiusless.is-size-5(role=`menuitem` tabindex=-1 data-href=`#home` data-string=`home` data-index=`0`) Home
    li.list-item.is-radiusless.is-size-5(role=`menuitem` tabindex=-1 data-href=`#about` data-string=`about` data-index=`1` data-href-selector=`.about--tile`) About
    li.list-item.is-radiusless.is-size-5(role=`menuitem` tabindex=-1 data-href=`#featured-work` data-string=`featured-work` data-index=`1` data-href-selector=`.featured-work--tile`) Featured Work
