extends layout.pug
block append head
  title Dylan: Web Developer
block content
  .section
    .container
      .tile.is-ancestor
        include partials/about-tile.pug
        include partials/featured-work-tile.pug
